*{
  box-sizing: border-box;
}
html{
  background-image: url('images/texas-beach.jpg');
}
main{
}
a{
  display: inline-block;
  width:10%;
  height:100%;
}
#logo{
  width:100%;
}
header.container {
  border-bottom:2px grey solid;
  justify-content:space-between;
}
#banner-name {
  display:inline-block;
  text-align:center;
  flex-grow: 3;
}
#quiz-form {
  display:flex;
  top:35%;
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
  flex-direction: column;
  
}
.container {
  display:flex;
  align-content: center;
}
span.score,
.points,
.questionNum {
  position: relative;
  top:15px;
  margin:6px;
  font-size: 30px;
}

.feedback-btn {
  position: relative;
  top: 200px;
  height: 300px;
  width: 350px;
  border-radius:10px;
}

input[type="button"]{
  font-size:25px;
  background-color:lightblue;
}

.start-quiz-btn{
  display: inline-block;
  width:350px;
  height:350px;
  background-color: lightblue;
  border-radius: 10px;
  position: relative;
  top:170px;
  font-size:35px;
}

.next-btn {
  display: inline-block;
  width: 350px;
  height:55px;
  background-color: rgb(215, 237, 245);
  border-radius: 0 0 10px 10px;
  position: relative;
  top: 170px;
  font-size: 35px;
}

fieldset{
  display: flex;
  justify-items: center;
  border:1px grey solid;
  border-radius:8px;
  background-color:lightblue;
}
.question-section{
  width:100%;
  display: flex;
  flex-direction: column;
}
.question{
  font-size: 50px;
}

.answer-option{
margin:10px;
}
.answerOptionText{
  font-size: 35px;
  position: relative;
  left:25%;
}

.submitBtn{
  margin-left:auto;
  margin-right: auto;
  border-radius:5px;
  width:500px;
  height:75px;
}

