*{
  box-sizing: border-box;
}
html{
  background-image: url('images/texas-beach.jpg');
}
main{
}
a{
  display: inline-block;
  width:10%;
  height:100%;
}
#logo{
  width:100%;
}
header.container {
  border-bottom:2px grey solid;
  justify-content:space-between;
}
#banner-name {
  display:inline-block;
  text-align:center;
  flex-grow: 3;
}
#quiz-form {
  display:flex;
  top:35%;
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
  flex-direction: column;
  
}
.container {
  display:flex;
  align-content: center;
}
span.score,
.points,
.questionNum {
  position: relative;
  top:15px;
  margin:6px;
  font-size: 30px;
}
.start-quiz-btn{
  display: inline-block;
  height:175px;
  width:275px;
  background-color: lightblue;
  border-radius: 10px;
  position: relative;
  top:125%;
  
}
fieldset{
  display: flex;
  justify-items: center;
  border:1px grey solid;
  border-radius:8px;
  background-color:lightblue;
}
.question-section{
  width:100%;
  display: flex;
  flex-direction: column;
}
.question{
  font-size: 50px;
}

.answer-option{
margin:10px;
}
.answerOptionText{
  font-size: 35px;
  position: relative;
  left:25%;
}

.submitBtn{
  margin-left:auto;
  margin-right: auto;
  border-radius:5px;
  width:500px;
  height:75px;
}