* {
  box-sizing: border-box;
}

html {
  background-image: url('images/texas-beach.jpg');
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.start-question {
  font-size:35px;
  text-align: center;
  position: relative;
  top:85px;
}
a {
  display: inline-block;
  width: 10%;
  height: 100%;
}

#logo {
  width: 100%;
}

header.container {
  border-bottom: 2px grey solid;
  justify-content: space-between;
}

#banner-name {
  display: inline-block;
  text-align: center;
  flex-grow: 3;
}

#quiz-form {
  display: flex;
  top: 35%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  flex-direction: column;
}

.container {
  display: flex;
  align-content: center;
}

span.score,
.points,
.questionNum {
  position: relative;
  top: 15px;
  margin: 6px;
  font-size: 30px;
}

.feedback-h2 {
  position: relative;
  background-color: lightblue;
  height: 300px;
  width: 350px;
  border-radius: 10px;
  font-size:35px;
  text-align: center;
}


.start-quiz-btn {
  width: 350px;
  height: 350px;
  background-color: lightblue;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:-100px;
}

.next-btn {
  display: inline-block;
  width: 350px;
  height: 55px;
  background-color: rgb(215, 237, 245);
  border-radius: 0 0 10px 10px;
  position: relative;
  top:-39px;
  font-size: 35px;
  border:none;
}

fieldset {
  display: flex;
  justify-items: center;
  border: 1px grey solid;
  border-radius: 8px;
  background-color: lightblue;
  width:fit;
}

.question-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 50px;
}

.answer-option {
  margin: 10px;
  display:flex;
  align-items: left;
}

.answerOptionText {
  font-size: 35px;
  position: relative;
  left:10px;
}

.submitBtn {
  border-radius: 10px;
  width: 100%;
  height: 75px;
  justify-self: center;
  align-self: center;
}

.results-div {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  width: 500px;
  height: 300px;
  position: relative;
  top: 200px;
}

.results-text {
  font-size: 45px;
  display: inline-block;
  align-self: center;
  justify-self: center;
}

.restart {
  width: 350px;
  height: 55px;
  border: none;
  border-radius: 0 0 10px 10px;
  position: relative;
  top:-50px;
  font-size: 40px;
}

